In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [4]:
df = pd.read_csv('house_rental_data.csv.txt')

In [5]:
df

,Unnamed: 0,Sqft,Floor,TotalFloor,Bedroom,Living.Room,Bathroom,Price
0,1,1177.698,2,7,2,2,2,62000
1,2,2134.800,5,7,4,2,2,78000
2,3,1138.560,5,7,2,2,1,58000
3,4,1458.780,2,7,3,2,2,45000
4,5,967.776,11,14,3,2,2,45000
...,...,...,...,...,...,...,...,...
640,644,1359.156,7,15,3,2,2,45000
641,645,377.148,4,10,1,1,1,24800
642,646,740.064,13,14,1,1,1,45000
643,647,1707.840,3,14,3,2,2,65000
644,648,1376.946,6,7,3,2,1,36000

In [6]:
df.isna().any()

Unnamed: 0     False
Sqft           False
Floor          False
TotalFloor     False
Bedroom        False
Living.Room    False
Bathroom       False
Price          False
dtype: bool

In [10]:
df1 = df.drop(["Unnamed: 0","TotalFloor"],axis=1)

In [11]:
df1

         Sqft  Floor  Bedroom  Living.Room  Bathroom  Price
0    1177.698      2        2            2         2  62000
1    2134.800      5        4            2         2  78000
2    1138.560      5        2            2         1  58000
3    1458.780      2        3            2         2  45000
4     967.776     11        3            2         2  45000
..        ...    ...      ...          ...       ...    ...
640  1359.156      7        3            2         2  45000
641   377.148      4        1            1         1  24800
642   740.064     13        1            1         1  45000
643  1707.840      3        3            2         2  65000
644  1376.946      6        3            2         1  36000

[645 rows x 6 columns]

In [15]:
X = df1.drop("Price",axis=1)
y = df1["Price"]

In [17]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [30]:
model = KNeighborsClassifier(n_neighbors=3)

In [31]:
model.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [32]:
model.score(X_test,y_test)

0.14728682170542637

In [38]:
pred = model.predict(X_test)

In [40]:
for i in range(len(pred)):
  print("y_test :",y_test.iloc[i]," pred : ",pred[i])

y_test : 65000  pred :  45000
y_test : 78000  pred :  78000
y_test : 57000  pred :  57000
y_test : 100000  pred :  76000
y_test : 120000  pred :  54999
y_test : 50000  pred :  88000
y_test : 38000  pred :  45000
y_test : 26000  pred :  24028
y_test : 149999  pred :  80000
y_test : 89000  pred :  68000
y_test : 33700  pred :  33700
y_test : 105000  pred :  45000
y_test : 45000  pred :  27000
y_test : 47000  pred :  44999
y_test : 60000  pred :  67000
y_test : 33500  pred :  32000
y_test : 88000  pred :  70000
y_test : 100000  pred :  77999
y_test : 25000  pred :  25000
y_test : 78000  pred :  90000
y_test : 43000  pred :  50000
y_test : 38000  pred :  55000
y_test : 100000  pred :  70000
y_test : 55000  pred :  44999
y_test : 48000  pred :  32000
y_test : 55000  pred :  55000
y_test : 39000  pred :  50000
y_test : 49800  pred :  45000
y_test : 31000  pred :  32000
y_test : 17000  pred :  25000
y_test : 150000  pred :  200000
y_test : 48000  pred :  43500
y_test : 69000  pred :  67000
y_test : 36000  pred :  45000
y_test : 55000  pred :  55000
y_test : 45000  pred :  45000
y_test : 60000  pred :  70000
y_test : 40000  pred :  33000
y_test : 160000  pred :  63000
y_test : 50000  pred :  37000
y_test : 30000  pred :  11900
y_test : 45000  pred :  50000
y_test : 33000  pred :  28000
y_test : 61000  pred :  21000
y_test : 46000  pred :  45000
y_test : 80000  pred :  80000
y_test : 20000  pred :  27500
y_test : 60000  pred :  67000
y_test : 68000  pred :  47999
y_test : 50000  pred :  33700
y_test : 21000  pred :  43500
y_test : 85000  pred :  60000
y_test : 45000  pred :  27000
y_test : 39000  pred :  39000
y_test : 90000  pred :  60000
y_test : 89000  pred :  80000
y_test : 120000  pred :  76000
y_test : 48800  pred :  49800
y_test : 36000  pred :  37000
y_test : 33000  pred :  45000
y_test : 78000  pred :  78000
y_test : 160000  pred :  98000
y_test : 75000  pred :  36000
y_test : 37000  pred :  65000
y_test : 85000  pred :  39000
y_test : 46000  pred :  24028
y_test : 60000  pred :  45000
y_test : 12000  pred :  32500
y_test : 40000  pred :  33000
y_test : 29000  pred :  24028
y_test : 60000  pred :  36000
y_test : 39000  pred :  45000
y_test : 36000  pred :  36000
y_test : 88000  pred :  98000
y_test : 62000  pred :  33000
y_test : 25000  pred :  27500
y_test : 168000  pred :  80000
y_test : 55000  pred :  48000
y_test : 57000  pred :  40000
y_test : 50000  pred :  45000
y_test : 51000  pred :  36000
y_test : 60000  pred :  40000
y_test : 42000  pred :  28000
y_test : 42000  pred :  24028
y_test : 40999  pred :  37000
y_test : 23000  pred :  13000
y_test : 29002  pred :  38000
y_test : 99999  pred :  69000
y_test : 43000  pred :  22000
y_test : 45000  pred :  45000
y_test : 55000  pred :  70000
y_test : 31000  pred :  26000
y_test : 45000  pred :  45000
y_test : 52000  pred :  24028
y_test : 68000  pred :  65000
y_test : 48000  pred :  45000
y_test : 19000  pred :  28800
y_test : 36000  pred :  36000
y_test : 24888  pred :  24800
y_test : 150000  pred :  26000
y_test : 150000  pred :  48800
y_test : 45000  pred :  65000
y_test : 40000  pred :  40000
y_test : 75000  pred :  120000
y_test : 24030  pred :  38000
y_test : 36000  pred :  30000
y_test : 29500  pred :  28800
y_test : 35000  pred :  27500
y_test : 48000  pred :  48000
y_test : 42000  pred :  31000
y_test : 88000  pred :  74999
y_test : 45000  pred :  45000
y_test : 49999  pred :  55000
y_test : 42000  pred :  28000
y_test : 45000  pred :  28000
y_test : 48000  pred :  41999
y_test : 73000  pred :  110000
y_test : 35000  pred :  32000
y_test : 35000  pred :  24028
y_test : 53000  pred :  66000
y_test : 26000  pred :  26000
y_test : 34800  pred :  34800
y_test : 38000  pred :  57000
y_test : 42000  pred :  33000
y_test : 50000  pred :  31000
y_test : 45000  pred :  50000
y_test : 65999  pred :  39999
y_test : 26000  pred :  33000
y_test : 110000  pred :  60000

In [41]:
np.where(y_test == pred ,1,0)

array([0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0])